h1,h2,h3,h4 {
    font-family: $headerFont;
}

h1 {
    font-size: 2rem;
}
h2 {
    text-align: left;
    font-size: 2rem;
}

p, a {
    font-family: $bodyFont;
}


.button {
    background-color: $button;
    padding: 10px 40px;
    margin-top: 10px;
    border-radius: 7px;
}
button {
    border-style: none;
}
