.contact {
    background-color: $tertiary;
    margin-top: 30px;
    .wrapper {
        display: flex;
    }
    
    .textContainer {
        width: 40%;
        padding-top: 50px;
    }

    .formContainer{
        width:60%;

        margin-left: 40px;
        padding: 40px;
        input,
        textarea {
            resize: none;
            margin-top: 20px;
            width: 100%;
        }
    }

    h2 {
        color: $fontWhite;
        padding-top: 20px;
        font-size: 2rem;
    }
    p{
        
        color: $fontWhite;
        padding: 30px 10px;
        font-size: 1.5rem;
    }
    ul{
        justify-content: center;
    }
    li{
        padding: 20px;
    }
}

