.projects {
    padding: 20px 0;

    h2 {
        padding: 30px 0;
    }
}

.projectContainer {
    display: flex;
    margin: 30px 0;
    box-shadow: 0px 0px 10px 5px #50505017;
    border-radius: 10px;

    .textContainer,
    .imgContainer {
        width: 50%;

    }

    .imgContainer {
        display: flex;

        img {
            border-radius: 10px;
            margin: auto 0;
        }
    }

    .textContainer {
        text-align: left;
        padding: 30px;

    }

    .viewContainer {
        display: flex;
        justify-content: space-evenly
    }

    h3 {

        padding: 20px 0;
    }

    ul {
        justify-content: center;
        flex-wrap: wrap;
    }


    li {
        margin: 0 20px 10px 10px;
        padding: 0 10px;
        background-color: $fontWhite;
        border-radius: 25px;
        font-family: $headerFont;
        font-size: 0.8rem;

    }

    p {
        padding: 10px 0;

    }

}