//site colours
$solidBlack: #171717;
$whiteShade: #f2f4f5;
$button: #EEAF98;
$primary: #424b6d;
$secondary: #d7d8fd;
$tertiary: #5169bd;
$solidWhite: #ffffff;
$fontWhite:#f0f0f0;


// site font
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=PT+Sans:wght@400;700&display=swap');
$headerFont: 'Nunito', sans-serif;
$bodyFont: 'PT Sans', sans-serif;