@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=PT+Sans:wght@400;700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  box-sizing: border-box;
  font-size: 125%;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, p, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

nav,
ul,
.flexContainer {
  display: flex;
}

h1, h2, h3, h4 {
  font-family: "Nunito", sans-serif;
}

h1 {
  font-size: 2rem;
}

h2 {
  text-align: left;
  font-size: 2rem;
}

p, a {
  font-family: "PT Sans", sans-serif;
}

.button {
  background-color: #EEAF98;
  padding: 10px 40px;
  margin-top: 10px;
  border-radius: 7px;
}

button {
  border-style: none;
}

.headerNav {
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: #ffffff;
}
.headerNav .navContainer {
  display: flex;
  justify-content: space-between;
}
.headerNav ul {
  padding: 20px 0 20px 20px;
}
.headerNav li {
  padding-left: 50px;
  font-size: 1.1rem;
}
.headerNav h1 {
  padding: 10px;
}

.headerContent .imgContainer {
  display: flex;
}
.headerContent .imgContainer img {
  margin: auto;
}

.menuToggle {
  margin-top: 17px;
  position: relative;
  z-index: 20;
  display: block;
  width: 30px;
  height: 20px;
  background: transparent;
  border-top: 4px solid;
  border-bottom: 4px solid;
  color: black;
  font-size: 0;
  transition: all 0.25s ease-in-out;
}
.menuToggle:before, .menuToggle:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: currentColor;
  transform: translate(-50%, -50%);
  transition: transform 0.25s ease-in-out;
}

button:hover {
  color: #262626;
}

button.is-active {
  border-color: transparent;
}
button.is-active:before {
  transform: translate(-50%, -50%) rotate(45deg);
}
button.is-active:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.about {
  background-color: #f2f4f5;
  padding: 50px 0;
}
.about .textContainer {
  width: 60%;
  margin: 0 auto;
}
.about h2 {
  padding-bottom: 20px;
  color: #5169bd;
}
.about a {
  color: #ea593e;
}

.skills {
  padding: 50px 0;
  background-color: #d7d8fd;
}
.skills h2 {
  color: #424b6d;
}
.skills li {
  text-align: center;
  padding: 20px;
  color: #424b6d;
  font-size: 0.8rem;
}
.skills li p {
  font-family: "Nunito", sans-serif;
}
.skills ul {
  justify-content: center;
  flex-wrap: wrap;
}

.projects {
  padding: 20px 0;
}
.projects h2 {
  padding: 30px 0;
}

.projectContainer {
  display: flex;
  margin: 30px 0;
  box-shadow: 0px 0px 10px 5px rgba(80, 80, 80, 0.0901960784);
  border-radius: 10px;
}
.projectContainer .textContainer,
.projectContainer .imgContainer {
  width: 50%;
}
.projectContainer .imgContainer {
  display: flex;
}
.projectContainer .imgContainer img {
  border-radius: 10px;
  margin: auto 0;
}
.projectContainer .textContainer {
  text-align: left;
  padding: 30px;
}
.projectContainer .viewContainer {
  display: flex;
  justify-content: space-evenly;
}
.projectContainer h3 {
  padding: 20px 0;
}
.projectContainer ul {
  justify-content: center;
  flex-wrap: wrap;
}
.projectContainer li {
  margin: 0 20px 10px 10px;
  padding: 0 10px;
  background-color: #f0f0f0;
  border-radius: 25px;
  font-family: "Nunito", sans-serif;
  font-size: 0.8rem;
}
.projectContainer p {
  padding: 10px 0;
}

.contact {
  background-color: #5169bd;
  margin-top: 30px;
}
.contact .wrapper {
  display: flex;
}
.contact .textContainer {
  width: 40%;
  padding-top: 50px;
}
.contact .formContainer {
  width: 60%;
  text-align: center;
  margin-left: 40px;
  padding: 40px;
}
.contact .formContainer input,
.contact .formContainer textarea {
  resize: none;
  margin-top: 20px;
  width: 100%;
  border-radius: 7px;
}
.contact h2 {
  color: #f0f0f0;
  padding-top: 20px;
  font-size: 2rem;
}
.contact p {
  text-align: left;
  color: #f0f0f0;
  padding: 10px 30px 20px 0;
  font-size: 1.5rem;
}
.contact ul {
  justify-content: center;
}
.contact li {
  padding: 20px;
}

footer {
  padding: 5px;
  background-color: #424b6d;
  text-align: center;
  color: #f0f0f0;
}
footer p {
  font-family: "Nunito", sans-serif;
}

@media (max-width: 940px) {
  .projectContainer {
    flex-direction: column;
  }
  .projectContainer .textContainer,
  .projectContainer .imgContainer {
    width: 100%;
  }
  .projectContainer .textContainer {
    padding: 20px;
  }
  .projectContainer .textContainer h3 {
    padding: 0 0 20px 0;
  }
  .projectContainer .textContainer ul {
    justify-content: space-evenly;
  }
  .contact {
    padding-bottom: 30px;
  }
  .contact .wrapper {
    flex-direction: column;
  }
  .contact .wrapper .textContainer,
  .contact .wrapper .formContainer {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .about .textContainer {
    width: 90%;
  }
}
@media (min-width: 840px) {
  .menuToggle {
    display: none;
  }
}
@media (max-width: 840px) {
  .menuToggle {
    display: flex;
  }
  h1 {
    font-size: 1.5rem;
  }
  .openNav {
    display: none;
  }
  .dropDownMenu {
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 0;
    color: #171717;
    width: 100%;
    flex-direction: column;
    text-align: center;
    transform: all 1s;
    background-color: #ffffff;
    padding: 0 20px;
    margin: 0;
    display: flex;
  }
  .dropDownMenu li {
    padding: 20px 0;
  }
}
@media (max-width: 460px) {
  body {
    min-width: 360px;
  }
  .projectContainer .viewContainer {
    flex-direction: column;
    text-align: center;
  }
}